Package: uci
Version: 2015-08-27.1-1
Depends: libc, libuci
Source: package/system/uci
License: LGPL-2.1
Section: base
Maintainer: Felix Fietkau <nbd@openwrt.org>
Architecture: ipq806x
Installed-Size: 6475
Description:  Utility for the Unified Configuration Interface (UCI)
