Package: qca-libhyfi-bridge
Version: g2ab931a-1
Depends: libc, kmod-qca-hyfi-bridge
Source: qca/feeds/hyfi/qca-hyfi-bridging/qca-libhyfi-bridge
Section: QCA
Maintainer: Qualcomm Atheros, Inc.
Architecture: ipq806x
Installed-Size: 3967
Description:  This package installs the Hy-Fi Bridging API Library
