Package: libuci-lua
Version: 2015-08-27.1-1
Depends: libc, libuci, liblua
Source: package/system/uci
License: LGPL-2.1
Section: libs
Maintainer: Felix Fietkau <nbd@openwrt.org>
Architecture: ipq806x
Installed-Size: 5478
Description:  Lua plugin for UCI
